{% extends 'site/base.html.twig' %}

{% block title %}Nota!{% endblock %}

{% block body %}
    <!--Баннер -->
    <div class="row">
        <div class="col custom-banner">
            <img src="{{ asset('assets/site/img/guitar.png') }}" />
            <div><h1>Весенние скидки</h1></div>
            <div class="text2">Скидка 50% на электрогитары до 25.05</div>
            <div><button class="btn more"><a href="./guitar.html" class="nav-link">Подробнее</button></a></div>
        </div>
    </div>
    <!--Ассортимент новинок -->
    <div><h2>Новинки</h2></div>
    <div class="row gx-3">
        {% for product in products_new %}
            <div class="col">
                <div class="p-3 custom-card">
                    <img class="card-img" src="{{ asset('uploads/products/' ~ product.image) }}" />
                    <h6>{{ product.name }}</h6>
                    <h4>{{ product.price / 100 | number_format(2, '.', ' ')}} руб.</h4>
                    <button class="card_add">В корзину</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--Ассортимент акций -->
    <div><h2>Акции</h2></div>
    <div class="row gx-3">
        <div class="col">
            <div class="p-3 custom-card">
                <img class="card-img" src="{{ asset('assets/site/img/tovar1.png') }}" />
                <h6>Название длинной в две строки в две строки</h6>
                <h4>500 руб.</h4>
                <button class="card_add">В корзину</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3 custom-card">
                <img class="card-img" src="{{ asset('assets/site/img/tovar1.png') }}" />
                <h6>Название длинной в две строки в две строки</h6>
                <h4>500 руб.</h4>
                <button class="card_add">В корзину</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3 custom-card">
                <img class="card-img" src="{{ asset('assets/site/img/tovar1.png') }}" />
                <h6>ННазвание длинной в две строки в две строки</h6>
                <h4>500 руб.</h4>
                <button class="card_add">В корзину</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3 custom-card">
                <img class="card-img" src="{{ asset('assets/site/img/tovar1.png') }}" />
                <h6>Название длинной в две строки в две строки</h6>
                <h4>500 руб.</h4>
                <button class="card_add">В корзину</button>
            </div>
        </div>
    </div>

    <!--Каталог -->
    <article id="part1">
        <div><h2>Каталог</h2></div>
        <div class="row gx-3">
            <div class="col">
                <div class="p-3 custom-cat">
                    <a href="./guitar.html" class="nav-link">
                        <img class="cat-img" src="img/guit.png" />
                        <h6>Гитары</h6>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 custom-cat">
                    <a href="./piano.html" class="nav-link">
                        <img class="cat-img" src="img/pian.png" />
                        <h6>Клавишные</h6>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 custom-cat">
                    <a href="./wind.html" class="nav-link">
                        <img class="cat-img" src="img/wind.png" />
                        <h6>Духовые иснтрументы</h6>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 custom-cat">
                    <a href="./accord.html" class="nav-link">
                        <img class="cat-img" src="img/accord.png" />
                        <h6>Аккордеоны и баяны</h6>
                    </a>
                </div>
            </div>
        </div>
    </article>
    <article id="part2">
        <!--Доставка и оплата -->
        <div class="row gx-6">
            <div class="col">
                <div class="p-3 custom-delpay">
                    <h2>Доставка</h2>
                    <p>
                        При заказе товара в нашем интернет-магазине вы можете выбрать
                        различные способы доставки. Самовывоз из Магазина музыкальных
                        инструментов «Нота» бесплатный. Оплаченный товар можно
                        самостоятельно забрать в Магазине музыкальных инструментов
                        «Нота» по адресу: г. Солнечногорск, ул. Железнодорожный проезд,
                        д.7 по договоренности с менеджером.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="p-3 custom-delpay">
                    <h2>Оплата</h2>
                    <p>
                        В магазине Нота вы можете оплатить товар удобным для вас
                        способом:
                    </p>
                    <p>
                        1. Любой картой российского банка на сайте Нота.<br />
                        2. Счетом для юридических лиц.<br />
                        3. При получении товара наличными менеджеру.
                    </p>
                </div>
            </div>
        </div>
    </article>
    <!--Контакты-->
    <article id="part3">
        <div class="row gx-6">
            <div class="col">
                <div class="p-3 custom-contacts">
                    <h2>Контакты</h2>
                    <p>
                        Если у вас возникли вопросы или есть предложения по работе
                        нашего магазина — используйте форму обратной связи.
                    </p>
                    <form action="php/send.php" method="post" id="feedbackForm">
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    placeholder="Введите имя"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="tel"
                                    class="form-control"
                                    id="telephone"
                                    placeholder="+7 (---) --- -- --"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <textarea id="message" required>Ваше сообщение</textarea>
                        </div>
                        <button type="submit" class="btn btn-default" value="Отправить">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="p-3 custom-search">
                    <h2>Как нас найти</h2>
                    <div class="contact-text">
                        <p><img src="{{ asset('assets/site/img/phone-receiver.svg')}}" />+7 900 295 33 30</p>
                        <p><img src="{{ asset('assets/site/img/envelope.svg') }}" />nota@yandex.ru</p>
                        <p>
                            <img src="{{ asset('assets/site/img/placeholder-filled-point.svg') }}" />г. Москва
                        </p>
                    </div>
                    <div>
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4362.849458549894!2d37.61821168841474!3d55.752502984661575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1715458700395!5m2!1sru!2sru"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!--FAQ-->
    <article id="part4">
        <div><h2>FAQ</h2></div></article>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item custom-accord">
            <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                >
                    Accordion Item #1
                </button>
            </h2>
            <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is
                    shown by default, until the collapse plugin adds the appropriate
                    classes that we use to style each element. These classes control
                    the overall appearance, as well as the showing and hiding via CSS
                    transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just
                    about any HTML can go within the <code>.accordion-body</code>,
                    though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                >
                    Accordion Item #2
                </button>
            </h2>
            <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is
                    hidden by default, until the collapse plugin adds the appropriate
                    classes that we use to style each element. These classes control
                    the overall appearance, as well as the showing and hiding via CSS
                    transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just
                    about any HTML can go within the <code>.accordion-body</code>,
                    though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                >
                    Accordion Item #3
                </button>
            </h2>
            <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is
                    hidden by default, until the collapse plugin adds the appropriate
                    classes that we use to style each element. These classes control
                    the overall appearance, as well as the showing and hiding via CSS
                    transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just
                    about any HTML can go within the <code>.accordion-body</code>,
                    though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    -->
    <!--Кнопка навверх-->
    <div class="btn-up btn-up_hide"></div>
{% endblock %}
