{% extends 'site/base.html.twig' %}

{% block title %}Nota - Профиль{% endblock %}

{% block body %}
<div class="container rounded mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5 custom-img" src="{{ asset('assets/site/img/Frame.png')}}">
                <h4>{{ user.name }}</h4>
                <h6 class="text-white-50">{{ user.email }}</h6>

                <!-- Кнопка "Выйти"-->
                <button class="btn exit"><a href="{{ path('_logout_main') }}">Выйти</a></button>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Доставки</h4>
                </div>
                {% for order in activeOrders %}
                <div class="row mt-3">
                    <div class="title">Заказ № {{ order[0].id|format_number({min_integer_digit: 6, grouping_used: false}) }}</div>
                    <!--ТУТ НАДО СДЕЛАТЬ ПОПАП С ПРОЦЕССОМ ДОСТАВКИ -->
                    <div class="text">Статус заказа: <span class="text-style">{{order[0].status | trans | lower}}</span></div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card-order">
                            <div><img class="img-order" src="{{ asset('uploads/products/' ~ order[0].products[0].image) }}">
                            </div>
                            <div class="frame">
                                <div class="text">Оформлен:  <span class="text-style">{{ order[0].createAt | format_datetime(pattern="d.MM.Y") }}</span></div>
                                <div class="text">Сумма: <span class="text-style">{{ (order.sum/100) | number_format(2, '.', ' ') }} руб.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-3">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">История заказов</h4>
                </div>
                {% for order in historyOrders %}
                <div class="row mt-3">
                    <div class="col">
                        <div class="card-order">
                            <div><img class="img-order" src="{{ asset('uploads/products/' ~ order[0].products[0].image) }}">
                            </div>
                            <div class="frame">
                                <div class="title">Заказ № {{ order[0].id|format_number({min_integer_digit: 6, grouping_used: false}) }}</div>
                                <div class="text">Получено:  <span class="text-style">{{ order[0].updateAt | format_datetime(pattern="d.MM.Y") }}</span></div>
                                <div class="text">Сумма: <span class="text-style">{{ (order.sum/100) | number_format(2, '.', ' ') }} руб.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contacts %}{% endblock %}
{% block faq %}{% endblock %}